# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ------------------------------
# OS / editor
# ------------------------------
.DS_Store
*.swp
*.swo

# ------------------------------
# Virtual environments
# ------------------------------
.venv/
venv/
env/


# ------------------------------
# Sphinx / Read the Docs build
# ------------------------------
docs/build/
